.issuedbook-title{
    font-weight: 600;
    font-size: 20px;
    color: #09174A;
    border-bottom:1px solid #E3E3E3 ;
}

.issuedbook-data-titles{
    font-weight: 500;
    font-size: 16px;
    color: #646464;
}

.issue-book-button{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #ED7966;
    border-radius: 5px;
    border-style: none;
    width: 100%;
}

.issuebook-return-btn{
    border-style: none;
    background-color: #fff;
}

.issued-book-datas p{
    font-weight: 500;
    font-size: 16px;
    color: #09174A;
}

.book-data-container{
    background-color: #fff;
}

.issuedbook-container{
    background-color: #F5F5F5;
}