.student-navigation-bar{
        background-color: #303179;
        margin: 0;
        padding: 0;
        height: 100vh;
}

.student-navigation-tab-container button{
    border-style: none;
    background-color: #303179;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 15px;
    text-align: left;
    width: 100%;

}

.student-navigation-tab-container button:hover{
    background-color: #41438b;
}

.sort-book-button{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #303179;
    border-radius: 5px;
    border-style: none;
    width: 100%;
}